
@-webkit-keyframes moveDown{
  0% {
    -webkit-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

@-moz-keyframes moveDown{
  0% {
    -moz-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0px);
    opacity: 1;
  }
}

@-o-keyframes moveDown{
  0% {
    -o-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -o-transform: translateY(0px);
    opacity: 1;
  }
}

@-ms-keyframes moveDown{
  0% {
    -ms-transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -ms-transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveDown{
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}